*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE DI DEBUG --------------------------------- */

.debug .columns{
    background-color: blueviolet;
}

.debug .col-text{
    background-color: aqua;
    height: 400px;
}

.debug .col-img{
    background-color: blue;
    height: 400px;
}

.debug ul{
    background-color: orange;
}

/* DEBUG HEADER ------------------------------------ */

.debug header{
    background-color: red;
}

.debug header li{
    background-color: yellow;
}

.debug header nav{
    background-color: purple;
}

/* DEBUG MAIN -------------------------------------- */

.debug main .heading-content{
    background-color:cadetblue;

}

.debug main .container{
    background-color: violet;
}

.debug main .offers-section .columns{
    background-color: turquoise;
}

.debug main .offers-section .col-3{
    background-color: teal;
    height: 800px;
}

.debug main .business-section .col-3{
    background-color: teal;
    height: 500px;
}

.debug main .offers-section .check{
    background-color: red;
}

.debug main .offers-section .columns.col{
    background-color: teal;
    height: 200px;
}


.debug main .collab-section .col3{
    background-color: chartreuse;
}

.debug main .collab-section .col-2{
    background-color: cyan;
    border: 1px dashed black;
}

.debug main .collab-request h2{
    background-color: cyan;
}

.debug main .collab-request span{
    background-color: blue;
    width: 400px;
    height: 30px;
}

/* DEBUG FOOTER ------------------------------------ */


/* REGOLE DI CSS ----------------------------------- */

ul{
    list-style: none;
}

.mainfoot-container{
    max-width: 1170px;
    margin: 0 auto;
}

.container{
    max-width: calc(1170px - 15%);
    margin: 0 auto;
}


.columns{
    width: 100%;
    display: flex;
}

.col-text{
    width: 30%;
}

.col-img{
    width: 70%;
}

.col-3{
    width: calc((100% / 3) - 20px);
    flex-wrap: wrap;
}


.col-2{
    width: calc(100% / 2);
    flex-wrap: wrap;
}

/* HEADER ------------------------------------------ */

header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 14px;
}

header li{
    display: inline-block;
}

.left-list li{
    margin-right: 20px;
}

.right-list li{
    margin-left: 20px;
}

header li.logo{
    margin-right: 8px;
}

header li.button{
    margin-left: 8px;
}

/* MAIN -------------------------------------------- */

main{
    padding-top: 80px;
}

main h2{
    margin: 20px 0
}

main section{
    padding-top: 50px;
}

.heading-container{
    background-color: #B4D0E7;
    width: 100%;
}

.heading-content{
    padding-top: 35px;
    font-size: 2em;
}

.heading-content .columns{
    margin-top: 28px;
}

.offers-section .check{
    margin-right: 16px;
}

.offers-section .columns{
    justify-content: space-between;
    margin: 20px 0;
}

.columns.col{
    width: 100%;
}





.business-section .columns{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.logo-container{
    height: calc(100% / 3);
    margin-top: 50px;
}

.logo-container .col-3{
    max-width: calc(1170px + 20%);
    width: calc(100% / 3);
}

.collab-section .col-2{
    height: calc(100% / 2);
}

.collab-request{
    background-color: #B4D0E7;
    width: 100%;
    padding: 80px;
}

.collab-request h2{
    margin: 0;
}

.collab-request .container{
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
}




.faq-section{
    padding-bottom: 70px;
}

.faq{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
}


/* FOOTER ------------------------------------------ */

footer{
    background-color: #000000;
    color: #ffffff;
}

.list-container{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.list-container ul h3{
    margin-bottom: 14px;
}

.list-container ul li{
    margin-bottom: 6px;
}

footer hr{
    width: 120px;
}

.language{
    padding: 30px 0;
}

/* ANIMAZIONI -------------------------------------- */



